
/*
 *  SIDEBAR
 */

.sidebar {
  position: relative;
  min-width: 330px;
  background-color: var(--accent-bg-color);
  width: 25%;
  height: 100%;
  float: left;
  box-shadow: 1px 0px 5px var(--gray);
  margin-right: 20px;
}
.sidebar .item {
  margin: 25px 25px 25px 25px;
  display: block;
  text-align: right;
}
.sidebar .title {
  font-size: 48px;
  color: var(--dark);
}
.sidebar .active {
  font-weight: bold;
}
.sidebar .item a {
  color: var(--dark);
  text-decoration: none;
}
.sidebar .item a:hover {
  color: var(--dark-lighter);
}
.sidebar .item a:active {
  color: var(--dark-lightest);
}
.sidebar .logout {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
}

.content {
  width:auto;
  overflow:hidden;
  height: 100%;
}


/*
 *  SUBMENU
 */

.settings_submenu {
  padding: 15px 0px 15px 0px;
  font-size: 24px;
  color: var(--dark);
  margin: 20px 20px 20px 0px;
  /*
  background-color: var(--cream);
  box-shadow: 1px 0px 5px var(--gray);
  text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);
  */
}
.settings_submenu .title {
  font-size: 36px;
  display: inline;
}
.settings_submenu .item {
  float: right;
  display: inline;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  color: var(--dark);
}
.settings_submenu .item:hover {
  color: var(--dark-lighter);
}
.settings_submenu .item:active {
  color: var(--dark-lightest);
}

/*
 *  WIZARD SUBMENU
 */

.wizard_submenu {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 24px;
  color: var(--dark);
}
.wizard_submenu .item {
  margin: 25px;
  cursor: pointer;
  background-color: var(--accent-bg-color);
  padding: 10px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--accent-border-color);
  box-shadow: 1px 0px 5px var(--gray);
}
.wizard_submenu .item:hover {
  background-color: var(--accent-bg-color-lighter);
}
.wizard_submenu .item:active {
  background-color: var(--accent-bg-color-lightest);
}
.wizard_submenu .prev {
  float: left;
}
.wizard_submenu .next {
  float: right;
}

/*
 *  PROFILE
 */

.profile_holder {

}
.profile_holder .holder_title {
  margin-bottom: 15px;

}
.profile_holder input {
  margin-bottom: 15px;
}

/*
 *  BOOKMARKS
 */

.content .bookmarks {
 overflow: auto;
 max-width: 100%;
 height: 100%;
 white-space: nowrap;
}
.content .bookmarks input {
  background-color: white;
  border: 2px solid rgba(0,0,0,0);
  padding: 5px;
}
.content .bookmarks .category {
  position: relative;
  background-color: var(--accent-bg-color);
  border: 1px solid var(--accent-border-color);
  box-shadow: 1px 1px 5px var(--gray);
  margin-right: 20px;
  padding: 15px;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.content .bookmarks .category .categorytitle {
  font-family: var(--font);
  font-size: 18px;
  display: inline;
  width: 190px;
  color: var(--dark);
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: var(--white);
  background-color: rgba(0,0,0,0);
  background-color: var(--white);
  border-color: var(--gray);
  border-width: 1px;
}
.content .bookmarks .category .bookmark {
  margin-top: 10px;
  background-color: var(--white);
  border: 1px solid var(--gray);
}
.content .bookmarks .category .bookmark input {
  font-family: var(--font);
  background-color: rgba(0,0,0,0);
  display: block;
  line-height: 18px;
  width: 185px;
  color: var(--dark);
}
.content .bookmarks .category .bookmark input:first-of-type {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.content .bookmarks .category .bookmark .remove_bookmark {
  float: right;
  margin-right: -6px;
  margin-top: -74px;
}
.content .bookmarks .category .bookmark_menu {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.content .bookmarks .category .bookmark_menu .bookmark_menu_item {
  display: table-cell;
  text-align: center;
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-size: 24px;
  color: white;
  text-shadow: -1px 0 var(--gray), 0 1px var(--gray), 1px 0 var(--gray), 0 -1px var(--gray);
}
.content .bookmarks .add_category_slot {
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
}

/*
*  THEMES
*/

.content table {
}
.content table tr {}
.content table tr th {
  padding: 5px;
  text-align: left;
}
.content table tr .title {
  width: 300px;
}
.content table tr .author {
  width: 200px;
}
.content table tr .active_users {
  width: 120px;
}
.content table tr .rating {
  width: 100px;
}
.content table tr td {
  padding: 5px;
}
.content table tr td a, .content table tr td div {
  color: var(--dark);
  cursor: pointer;
}

/*
 *  ABOUT
 */

.aboutcontent {
  width: 600px;
}
.aboutcontent p a {
  text-decoration: none;
  color: var(--dark-lightest);
}
.aboutcontent .contact {
  margin-top: 40px;
  text-align: center;
}
.aboutcontent .contact a {
  text-decoration: none;
  color: var(--dark-lightest);
  line-height: 24px;
}
/*
.aboutcontent form {
  margin-top: 40px;
  text-align: center;
  width: 440px;
  margin-left: 60px;
}
.aboutcontent form input {
  margin-bottom: 10px;
  width: 100%;
}
.aboutcontent form textarea {
  margin-bottom: 10px;
  width: 100%;
}
.aboutcontent form textarea, .aboutcontent form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.aboutcontent form button {
}
*/

.donate {
  border-radius: 3px;
  margin-top: 40px;
  margin-left: 60px;
  padding: 20px 20px 00px 20px;
  float: left;
  width: 400px;
  display: block;
  background-color: var(--cream);
  box-shadow: 1px 1px 5px var(--gray);

}
.donate .text {
  text-align: center;
}
.donate .text img {
  height: 18px;
}
.donate .paypal, .donate .bitcoin {
  width: 200px;
  text-align: center;
  float: left;
  margin: 20px 0px 20px 0px;
}
.donate .paypal .image, .donate .bitcoin img {
  width: 40px;
}
