<!DOCTYPE html>
<html>

<head>

  <title>Bookmarks</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post" action="{{ url_for('user.login') }}">
    <p><input type=email name=email>
    <p><input type=password name=password>
    <p><input type=submit value=Login>
  </form>

  <form method="post" action="{{ url_for('user.register') }}">
    <p><input type=email name=email>
    <p><input type=password name=password1>
    <p><input type=password name=password2>
    <p><input type=submit value=Register>
  </form>

</body>
</html>
