<div class="settings_submenu">
  <div class="title">Profile</div>
</div>

<div class="profile_holder">
  <div class="holder_title">Displayname</div>
  <input type="text" placeholder="Displayname">
</div>

<div class="profile_holder">
  <div class="holder_title">Email</div>
  <input type="email" placeholder="New email">
  <input type="email" placeholder="Repeat email">
</div>

<div class="profile_holder">
  <div class="holder_title">Change password</div>
  <input type="password" placeholder="Old password"><br>
  <input type="password" placeholder="New password">
  <input type="password" placeholder="Repeat password">
</div>

<div class="profile_holder">

</div>
