<div class="settings_submenu">
  <div class="title">Themes</div>
  <div class="item" onclick="create_theme()"><i class="fa fa-plus" aria-hidden="true"></i> Create theme</div>
</div>

{% macro listTheme(theme, self=false) -%}
  <tr>
    <td>{{ theme['title'] }}</td>
    {% if theme['author_displayname'] %}
      <td>{{ theme['author_displayname'] }}</td>
    {% else %}
      <td>anon</td>
    {% endif%}
    <td>{{ theme['active_users'] }}</td>
    <td>
      {% set stars = theme['rating'] %}
      {% for i in range(0, 5) %}
        {% if (theme['rating'] - i) > 0 %}
          {% if (theme['rating'] - i) >= 1 %}
            <i class="fa fa-star" aria-hidden="true"></i>
          {% elif (theme['rating'] - i) >= 0.5 %}
            <i class="fa fa-star-half" aria-hidden="true"></i>
          {% endif %}
        {% endif %}
      {% endfor %}
    </td>
    <td><div onclick="preview_theme({{ theme['id'] }});"><i class="fa fa-eye" aria-hidden="true"></i></div></td>
    <td><div onclick="use_theme({{ theme['id'] }});"><i class="fa fa-check" aria-hidden="true"></i></div></td>
    {% if self %}
      <td><div onclick="edit_theme({{ theme['id'] }});"><i class="fa fa-pencil" aria-hidden="true"></i></div></td>
      <td><div onclick="remove_theme({{ theme['id'] }}, '{{ theme['title'] }}');"><i class="fa fa-trash" aria-hidden="true"></i></div></td>
    {% endif %}
  </tr>
{%- endmacro %}
<table>
  <tr>
    <th class="title">Title</th>
    <th class="author">Author</th>
    <th class="active_users">Active users</th>
    <th class="rating">Rating</th>
  </tr>
  {% for theme in themes %}
    {% if theme['author'] == session['id'] %}
      {{ listTheme(theme, true) }}
    {% endif %}
  {% endfor %}
  {% for theme in themes %}
    {% if theme['author'] != session['id'] %}
      {{ listTheme(theme) }}
    {% endif %}
  {% endfor %}
</table>
